
.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 400px;
  width: 500px;

}
.inputContainer input{
  height: 20px;
   border: none;
  border-bottom: 3px solid #CD7F32;
  background-color: #f8f8ff;
  font-size: large;
  color: #CD7F32;
}

.signinBtn{
  width: 100px;
  position: relative;
  left: 350px;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;

}

.signinBtn:hover{
  background-color: #CD7F32;
  color: #f8f8ff;

}

.FPassLink{
  position:relative;
  bottom: 60px;
  left: 20px;
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.FPassLink:hover{
  color: #aaaaaa;
}

.newAccLink{
    position:relative;
  bottom: 80px;
  left: 160px;
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.newAccLink:hover{
  color: #aaaaaa;
}

.HotelLogoSignin {

  position: relative;
  bottom: 670px;
  left: 100px;
  width: 300px;
}