.signin-Content{
    width: 100vw;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 ; 
    align-items: center;
}
body{
    margin: 0;
    height: 100% ;  
  }

.input-Container{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 40%;

}
.input-Container input{
  margin: 0 auto;
  border: none;
  border-bottom: 3px solid #CD7F32;
  background-color: #ffffff;
  font-size: large;
  color: #CD7F32;
  width: 80%;
}
.input-Container input:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid #CD7F32;
  }
  
.Password-Container{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    margin: 0 auto;
    
 }

 .Password-Container input{
    border: none;
    border-bottom: 3px solid #CD7F32;
    background-color: #ffffff;
    font-size: large;
    color: #CD7F32;
    width: 100%;
    margin-left: 2.5%;

 }
  
.password-btn{
    background-color: #ffffff;
    border: none;
    font-size: large;
    width:fit-content;
    height: 26px;
    border-bottom: 3px solid #CD7F32;
    border-radius: 0;
    padding: 0;

}

.password-btn:hover{
     background-color: #ffffff;
     cursor: pointer;
     
 }

.hideicon, .Showicon{
      width: 20px;
      height: 20px;
      
     }

.Fpass-n-Signin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 2% auto;
}

.signinBtn{
  width: fit-content;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  border: none;
  font-size:large;

}

.signinBtn:hover{
  background-color: #CD7F32;
  color: #f8f8ff;
  transform: scale(1.5);
}

.FPass-Link{
  font-size: large;
  color: #CD7F32;
  width: fit-content;
}

.FPass-Link:hover{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);
}

.newAcc-Link{
  margin: 0 auto;
  font-size: large;
  color: #CD7F32;
  width: fit-content;
}

.newAcc-Link:hover{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);

}

.HotelLogoSignin {
  width: 20%;
  margin-top: 5%;
}

  /*==========mobile styles==========*/
@media (min-width: 320px) and (max-width: 480px) {
  .signin-Content{
    width: 100%;
    background-color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex: 1 ; 
    align-items: center;
    justify-content: center;
  }
  .input-Container{
    width: 80%;
    margin: 5% auto;
    display: flex;
    align-items: center;
  }
  .input-Container input{
    font-size: medium;
    width: 80%;
    color: #CD7F32;
  }
  .input-Container input:focus{
    border: none;
    outline: none;
     border-bottom: 3px solid #CD7F32;
  }

  .Password-Container{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
   
   }

   .Password-Container input{
    border: none;
    border-bottom: 3px solid #CD7F32;
    background-color: #ffffff;
    font-size: medium;
    color: #CD7F32;
    width: 81%;
    margin-left: 5%;
    }
  

   .password-btn{
    background-color: transparent;
    border: none;
    font-size: medium;
    border-bottom: 3px solid #CD7F32;
    margin-right: 3%;
    height: 24px;


   }

  .Fpass-n-Signin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 4% auto;
}

.signinBtn{
  width: fit-content;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;

}

.signinBtn:active{
  background-color: #CD7F32;
  color: #f8f8ff;
  transform: scale(1.5);

}

.FPass-Link{
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
  background-color: transparent;
}

.FPass-Link:active{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);
}

.newAcc-Link{
  margin: 0 auto;
  font-size:medium;
  color: #CD7F32;
  width: fit-content;
  background-color: transparent;
}

.newAcc-Link:active{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);
}

.HotelLogoSignin {
  width: 40%;

}

}