.signin-Content{
    width: 100vw;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 ; 
    align-items: center;
}
body{
    margin: 0;
    height: 100% ;  
  }

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;


}
.inputContainer input{
  height: 20px;
   border: none;
  border-bottom: 3px solid #CD7F32;
  background-color: #f8f8ff;
  font-size: large;
  color: #CD7F32;
}

.signinBtn{
  width: 100px;
  position: relative;
  left: 350px;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;

}

.signinBtn:hover{
  background-color: #CD7F32;
  color: #f8f8ff;

}

.FPassLink{
  position:relative;
  bottom: 60px;
  left: 20px;
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.FPassLink:hover{
  color: #aaaaaa;
}

.newAccLink{
    position:relative;
  bottom: 80px;
  left: 160px;
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.newAccLink:hover{
  color: #aaaaaa;
}

.HotelLogoSignin {

  position: relative;
  bottom: 670px;
  left: 100px;
  width: 300px;
}

  /*==========mobile styles==========*/
@media (min-width: 320px) and (max-width: 480px) {
  .signin-Content{
    width: 100%;
    background-color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex: 1 ; 
    align-items: center;
  }
  .inputContainer{
    background-color: aqua;
    width: 50vw;
    margin: 0 auto;
  }
  .inputContainer input{
    background-color: black;
    font-size: medium;
    width: 80vw;
    color: blueviolet;
  }

}