.faci-Content{
  width: 100vw;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;

}

.faci-H1{
  color: #CD7F32;
  text-align: center;
  font-family: "Imperial Script", "cursive";
  position: relative;

}

.faci-container{
 background-color: #fff;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  

}

.faciContainer{
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  width: 70%;
  height: 50vh;
  margin: 5% auto;

}

.facilitiieName{
  width: 100%;
  height: 100%;
}

.nameContainer{
  background-color: #CD7F32;
  width: 40%;
  height: fit-content;
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px #aaaaaa;

}

.FacilitieName{
text-align: center;
color: #ffffff;
margin-bottom: 1%;

}

.description{
  font-size: 20px;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 3%;
  color: #ffffff;
}

/*======Mobile Styles======*/

@media (min-width: 320px) and (max-width: 480px) {
  .faci-Content{
    width: 100vw;
    background-color: #ffffff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 ;
} 
 .faci-container{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  padding-bottom: 10%;
 }
 .faciContainer{
  width: 90% ;
 }
 .nameContainer{
  width: 90% ;
 }

}