.Rooms-Content{
  width: 100vw;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;
}

.roomH1{
  color: #CD7F32;
  text-align: center;
  font-family: "Imperial Script", "cursive";
  position: relative;
  bottom: 300px;
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
  margin: 0 auto ;
  margin-bottom: 5%;
  width:90%;
  background-color: #ffffff;
}
.rjk div{
   min-width: 0;
}

.roomContainer{
  background-color: #f8f8ff;
  width:90%;
  height: 90%;
  text-align: center;
  justify-content: center;
  height: 90%;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
}

.Rnam-Rprice{
  color: #CD7F32;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 4%;
  width: 90%;
  height: 10%;
  text-align: center;
}

.Rnam-Rprice p {
  margin: 0; 
  padding: 5px;
}

.roomPic{
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;  
}


.iconContainer{
  background-color: #f8f8ff;
  width: 90%;
  height: 13%;
  display: flex;
  gap: 2%;
  margin: 6% auto;
}

.icon{
  width: 30px;
  height: 30px;
  margin: auto;
}

.roompopupContainer{
  background-color: #CD7F32;
  width: 43.8%;
  height: 77vh;
  position: fixed;
  left: 26%;
  color: #CD7F32;
  font-size: medium;
  text-align: center;
  z-index: 9998; 

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(254, 252, 252, 0.5);
  backdrop-filter: blur(5px); 
  z-index: 9997; 
}

.calendarClose{
  position:relative;
  left: 46%;
  bottom: 0%;
  color: #ffffff;
  background-color: #CD7F32;

}

.loginPromptContainer{
  color: #f8f8ff;

}
.loginPrompt{
  color: #f8f8ff;
  text-decoration: none;
  font-weight: bolder;
}









