.Home-Content{
  width: 100%;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;
  padding-bottom: 10%;
}


 .HContainer{
  width: 80%;
  background-color: #f8f8ff;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-top: 4%;
  margin-right: auto;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
}
.himg{
  position: relative;
  left:66%;
  top: 2.5%;
  width: 33%; 
  height:95%;
}

.hname{
  position: relative;
  bottom: 95%;
  left: 10%;
  font-family: "Imperial Script", cursive;
  font-size: 100px;
  color: #CD7F32;
}

.slogan{
  position: relative;
  bottom: 90%;
  left: 15%;
  color: #CD7F32;
  width: fit-content;
  
}



.stars {
  font-size: 50px;
  color: gold;
  position: relative;
  left: 25%;
  bottom: 125%;
}

.OFI{
  margin: 7% auto 0 auto;
   color: #CD7F32;
   text-align: center;
  
}

.facilitieIcons{
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 5% auto;
 

}

.facilitieIcon{
   width: 50%;
  background-color: #f8f8ff;
  height: 60%;
  position: relative;
  left: 26%;
  top: 10%;
  
  
}

.imageContainer{
  width: 80%;
  height: 200px;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  background-color: #f8f8ff;
  margin: 0 auto;
}

.iconName{
  color: #CD7F32;
  font-size: 20px;  
  text-align: center;
  font-weight: bold;
}

.EventsNPromo{
  color: #CD7F32;
  text-align: center;
  font-size: 30px;
  margin-top: 5%;
  }

  /*==========mobile styles==========*/
@media (min-width: 320px) and (max-width: 480px) {
  .Home-Content{
    width: 100%;
    background-color: #ffffff;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    flex: 1 ; 
  }
  body{
    margin: 0;
    height: 100% ;

  }
  
  .HContainer{
    width: 75%;
    height: 250px;
    margin: 5% auto;

  }

.himg {

  
  display: block;
  float: left;
    }
  .hname{
    font-size: 40px;
    bottom: 90%;
    left: 10%;
    width: 42%;

  }
  .stars{
  
    position: relative;
    width: fit-content;
    left: 10%;
    font-size: xx-large;
    bottom: 135%;
  }
  .slogan{
    
    bottom: 80%;
    left: 10%;
    font-size: large;
    width: 45%;
    
  } 
  .facilitieIcons{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  } 
  
  .imageContainer{
    width: 90%;
    height: 120px;
    margin: 0 auto;
  }
  .facilitieIcon{
    width: 40%;
    height: 40%;
    display:flex;
    align-items: center;
    position: relative;
    left: 30%;
    
  }
}