  .container{
    width: 320px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
  }
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
  }
  .weekday {
    padding: 5px 0;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .day {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
  }

  .day.booked {
  background-color: #CD7F32;
  color:#ffffff;
}

.day.available {
  background-color: #aaaaaa;
  color: #ffffff;
}
.day.day.available:hover {
  transform: scale(1.05);
  cursor: pointer;
}
  .BookpopupContainer{ 
    width: 50%;
    height: 30%;
    position: absolute;
    bottom: 40%;
    right: 25%;
    background-color: rgb(172,225,175)
  }