.bottomNavheader{
  background-color: #CD7F32;
  width: 100%;
  height: 50dvh;
  position: relative;
  display: flex;
  gap: 6%;
}

.AboutUs{
  width: 40%;
  margin-left: 2%;

}

.AboutUs p{
  font-size: 20px;
  
}
.Contacts{
  width: 20%;


}

.Contacts p{
  font-size: 20px;

}

/*======Mobile Styles======*/

@media (min-width: 320px) and (max-width: 480px) {
  .bottomNavheader{
    height: fit-content;
    width: 100%;
    gap: 3%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 5%;

  }
  .AboutUs{
    width: 90%;
    font-size: 6vw;
    margin: 0 auto;
    text-align: center;
  }

  .AboutUs p{
  font-size: 4vw;
  
}
  
  .Contacts{
    width: 90%;
    height: fit-content;
    margin: 0 auto; 
    width:fit-content;
    
  }
   .Contacts h4{
    text-align: center;
      }
  .contactTab{
    margin: 0 auto;
  }
  .contactTab tr{
     display: flex;
  justify-content: center;

  }

}
