@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.App {
  background-color: #ffffff;
  height: 100dvh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  
}
.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: violet;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

}




.intruction{
  position:relative;
  bottom: 170px;
  left: 30px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.inputCont{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AdinInput{
  height: 20px;
   border: none;
  border-bottom: 3px solid #004830;
  background-color: #ACE1AF;
  font-size: large;
  color: #004830;
}

