@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.App {
  background-color: #21de13;
  height: 100dvh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  
}
.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: violet;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

}




/* ============Navbar=========== */
.navbarContainer{
  height: 40%;
  display: flex;
  flex-direction: row;
  gap: 20%;
  position: relative;
  left: 55%;
  bottom: 73%;
  width: 30%;

}

.link:active{
  transform: scale(1.5);
}
.navbar{
  background-color: #CD7F32;
  width: 100%;
  height: 10dvh;
  position: relative;

  
}
.logo{
  height: 90%;
  position: relative;
  left: 2%;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;

}
.loginsign{
  background-color:#FFFFFF;
  width:3.2%;
  color: #CD7F32;
  border-radius: 60%;
  position: relative;
  bottom:135%;
  left: 95%;
  height: 70%;
  text-align: center;
  padding-top: 0.5%;
}
.loginsign:active{
  transform: scale(1.5);
}


.popupContainer{
  background-color: #ACE1AF;
  width: 15%;
  height: fit-content;
  position: relative;
  left: 100%;
  bottom: 120%;
  border: 2px solid #004830;
  color: #004830;
  font-size: medium;
  text-align: center;
  z-index: 9999; 
  animation-name: slideToLeft;
  animation: slideToLeft 2s forwards;
}

@keyframes slideToLeft {
    from {
        transform: translateX(0); /* Start from current position */
    }
    to {
        transform: translateX(-100%); /* Slide to the left */
    }
    
}
.closepopup{
  position: relative;
  bottom: 0px;
  right: 39%;
  background-color: #ACE1AF;
  color: #004830;
}
.popupFunction{
  position: relative;
  bottom: 20px;

}
.signBtn{
  margin: 0 auto;
  
}
.signBtn:active{
  transform: scale(1.5);
}

/* ============Home=========== */
.Home-Content{
  width: 100%;
  background-color: #A52A2A;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;
}


 .HContainer{
  width: 80%;
  background-color: #CD7F32;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-top: 4%;
  margin-right: auto;
  box-shadow: 5px 5px 5px 5px #A52A2A;
  border: #A52A2A
}
.himg{
  position: relative;
  left:66%;
  top: 2.5%;
  width: 33%; 
  height:95%;
}

.hname{
  position: relative;
  bottom: 95%;
  left: 10%;
  font-family: "Imperial Script", cursive;
  font-size: 100px;
  color: #ffffff;
}

.slogan{
  position: relative;
  bottom: 90%;
  left: 15%;
  color: #ffffff;
  width: fit-content;
  
}



.stars {
  font-size: 50px;
  color: #ffffff;
  position: relative;
  left: 25%;
  bottom: 125%;
}

.OFI{
   position: relative;
   top: 5%;
   color: #004830;
   text-align: center;
  
}

/* ============Facilities=========== */

.facilitieIcons{
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;

}
.facilitieIcon{
   width: 40%;
  background-color: #ACE1AF;
  height: 60%;
  position: relative;
  left: 30%;
  top: 10%;
  
  
}

.imageContainer{
  width: 70%;
  height: 200px;
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;
  background-color: #ACE1AF;
  margin: 0 auto;
}

.iconName{
  color: #004830;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
/* ============Rooms=========== */
.Rooms-Content{
  width: 100vw;
  background-color: #A52A2A;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;
}


.roomH1{
  color: #004830;
  text-align: center;
  font-family: "Imperial Script", "cursive";
  position: relative;
  bottom: 300px;
  
}

.rjk{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
  margin: 0 auto ;
  margin-bottom: 5%;

  width:90%;
  background-color: tomato;
  border: 1px solid black;
  
}
.rjk div{
   min-width: 0;
}


.roomContainer{
  background-color: #101312;
  width:90%;
  height: 90%;
  text-align: center;
  justify-content: center;
  height: 90%;
  color: #ACE1AF;
}

.Rnam-Rprice{
  
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 4%;
  width: 90%;
  height: 10%;
  text-align: center;
}

.Rnam-Rprice p {
  margin: 0; 
  padding: 5px;
}


.roomPic{
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;

  
}


.iconContainer{
  background-color: #f30fc9;
  width: 90%;
  height: 13%;
  display: flex;
  gap: 2%;
  margin: 6% auto;
}

.wifi{
  width: 30px;
  height: 30px;
  margin: auto;

}

.NoOfBeds{
  color: #004830;
  position: relative;
  bottom: 36px;
  left: 35px;
}

.otherRow{
  
  position: relative;
  width:90%;
}

.otherRoomContainer{
  background-color: #004830;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ea960f;
  position: relative;
  bottom: 22%;
}

.oroomName{
  position: relative;
  top: 207px;
  right: 115px;
}

.oroomPic{
  width: 90%;
  position: relative;
  bottom: 80px;
  height: 60%;

}

.oroomPrice{
  position: relative;
  bottom: 110px;
  left: 130px;
}

.iconContainer2{
  background-color: #ACE1AF;
  width: 90%;
  height: 40px;
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 180px;
  left: 20px;
}

.faciContainer{
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;
  width: 70%;
  height: 50vh;
  margin: 5% auto;
  border-radius: 10px;

}

.faci-Content{
  width: 100vw;
  background-color: #A52A2A;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 ;

}

.faci-H1{
  color: #004830;
  text-align: center;
  font-family: "Imperial Script", "cursive";
  position: relative;

}

.faci-container{
 background-color: #ACE1AF;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  

}
.facilitiieName{
  width: 100%;
  height: 100%;
}
.nameContainer{
  background-color: #ACE1AF;
  width: 40%;
  height: fit-content;
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;

}

.FacilitieName{
text-align: center;
color: #004830;
margin-bottom: 1%;

}

.description{
  font-size: 20px;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 3%;
  color: #004830;
}
/* ============BottomNavbar=========== */

.bottomNavheader{
  background-color: #004830;
  width: 100%;
  height: 50dvh;
  position: relative;
  display: flex;
  gap: 6%;
}

.AboutUs{
  width: 40%;
  position: relative;
  bottom: 3%;
  left: 1%;

}

.AboutUs p{
  font-size: 20px;
  position: relative;
  bottom: 5%;
}
.Contacts{
  width: 20%;
  position: relative;
  bottom: 3%;

}

.Contacts p{
  font-size: 20px;
  position: relative;
  bottom: 30px;
}

.sighninH{
  position: relative;
  top: 300px;
  color: #004830;
  text-align: center;
}

.signinBtn{
  width: 100px;
  position: relative;
  left: 350px;

}

.signinBtn:hover{
  background-color: #ACE1AF;
  border: 3px solid #004830;
  color: #004830;

}
.FPassLink{
  position:relative;
  bottom: 60px;
  left: 20px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.FPassLink:hover{
  color: white;
}

.HotelLogo {
  position: relative;
  bottom: 800px;
  left: 100px;
  width: 300px;
}
.HotelLogoSignin {

  position: relative;
  bottom: 670px;
  left: 100px;
  width: 300px;
}
.newAccLink{
    position:relative;
  bottom: 80px;
  left: 160px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.newAccLink:hover{
  color: white;
}

.intruction{
  position:relative;
  bottom: 170px;
  left: 30px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.inputCont{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AdinInput{
  height: 20px;
   border: none;
  border-bottom: 3px solid #004830;
  background-color: #ACE1AF;
  font-size: large;
  color: #004830;
}

.roompopupContainer{
  background-color: #ACE1AF;
  width: 43.8%;
  height: 77vh;
  position: fixed;
  left: 26%;
  border: 2px solid #004830;
  color: #004830;
  font-size: medium;
  text-align: center;
  z-index: 9998; 

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); 
  z-index: 9997; 
}

.calendarClose{
  position:relative;
  left: 47%;
  bottom: 0%;
  color: #101312;

}