@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.App {
  background-color: #ACE1AF;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.navbarContainer{
  position: fixed;
  height: 40%;
  background: #004830;
  display: flex;
  gap: 60px;
  position: relative;
  left: 65%;
  padding-top: 0.5%;
  width: 100%;
}
.navbar{
  background-color: #004830;
  width: 100%;
  height: 60px;
  position: relative;

  
}
.logo{
  height: 55px;
  position: relative;
  right: 90%;
  bottom: 7px;
}

.navbar a {
  text-decoration: none;
  color: #ACE1AF;
  padding: 0 10px;
}

.HContainer{
  width: 80%;
  background-color: #ACE1AF;
  height: 600px;
  position: relative;
  bottom: 15%;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;
}

.himg{
  position: relative;
  left:66%;
  top: 2.5%;
  width: 33%; 
  height:570px;
}

.hname{
  position: relative;
  bottom: 100%;
  left: 15%;
  font-family: "Imperial Script", cursive;
  font-size: 100px;
  color: #004830;
}

.slogan{
  position: relative;
  bottom: 110%;
  left: 15%;
  color: #004830;
}

.searchbar{
  width: 70%;
  background-color: #004830;
  height: 12%;
  position: relative;
  bottom: 500px;
  left: 10%;
  display: flex;
  gap: 40px;
  align-items: center;

}

.selectbtn{
  background-color: #ACE1AF;
  height: 50%;
  border-radius: 10px;
  position: relative;
  left: 10%;
  width: 10%;
  text-align-last: center;
}


.Explorebtn{
  background-color: #ACE1AF;
  color: #004830;
  position: relative;
  left: 30%;
  height: 50%;
  width: 10%;
}

.stars {
  font-size: 50px;
  color: #004830;
  position: relative;
  left: 25%;
  bottom: 100%;
}

.OFI{
   position: relative;
   
  color: #004830;
   text-align: center;
  
}

.facilitieIcons{
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;

}
.facilitieIcon{
   width: 40%;
  background-color: #ACE1AF;
  height: 60%;
  position: relative;
  left: 30%;
  top: 10%;
  
  
}

.imageContainer{
  width: 70%;
  height: 200px;
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;
  background-color: #ACE1AF;
  margin: 0 auto;
}

.iconName{
  color: #004830;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.rjk{
  display: flex;
  gap: 30px;
  position: relative;
  top: 120px;
  margin: 0 auto;
  width:90%;
  
}

.roomContainer{
  background-color: #004830;
  width: 30%;
  height: 200px;
  text-align: center;
  height: 340px;
  color: #ACE1AF;
  position: relative;
  bottom: 350px;
}

.roomPic{
  width: 90%;
  height: 60%;
  position: relative;
  bottom: 80px;
  
}

.roomName{
position: relative;
  top: 199px;
  right: 75px;
  
}

.roomPrice{
position: relative;
  bottom: 110px;
  left: 90px;
}

.iconContainer{
  background-color: #ACE1AF;
  width: 90%;
  height: 40px;
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 160px;
  left: 15px;
}

.wifi{
  width: 30px;
  height: 30px;
  margin: auto;

}

.NoOfBeds{
  color: #004830;
  position: relative;
  bottom: 30px;
  left: 35px;
}

.otherRow{
  display: flex;
  gap: 30px;
  position: relative;
  top: 120px;
  margin: 2% auto;
  width:90%;
}

.otherRoomContainer{
  background-color: #004830;
  width: 30%;
  height: 200px;
  text-align: center;
  height: 340px;
  color: #ACE1AF;
  position: relative;
  bottom: 350px;
}

.oroomName{
  position: relative;
  top: 199px;
  right: 75px;
}

.oroomPic{
  width: 90%;
  position: relative;
  bottom: 80px;
  height: 60%;

}

.oroomPrice{
  position: relative;
  bottom: 110px;
  left: 90px;
}

.iconContainer2{
  background-color: #ACE1AF;
  width: 90%;
  height: 40px;
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 170px;
  left: 20px;
}

.roomH1
{
  color: #004830;
  text-align: center;
  font-family: "Imperial Script", "cursive";
  position: relative;
  bottom: 300px;
  
}
.faciContainer{
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;
  width: 70%;
  height: 400px;
  margin: 5% auto;
  border-radius: 10px;
}

.faciheader{
  width: 100%;
  
}
.facilitiieName{
  width: 100%;
  height: 400px;
}
.nameContainer{
  background-color: #ACE1AF;
  width: 40%;
  height: 100px;
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px #004830;
  border: #004830;

}

.FacilitieName{
text-align: center;
color: #004830;

}

.description{
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  color: #004830;
}

.bottomNavheader{
  background-color: #004830;
  width: 100%;
  height: 300px;
  position: relative;
  top: 132%;
  display: flex;
  gap: 60px;
}

.AboutUs{
  width: 30%;
  position: relative;
  bottom: 30px;
  left: 10px;

}

.AboutUs p{
  font-size: 20px;
  position: relative;
  bottom: 30px;
}
.Contacts{
  width: 20%;
  position: relative;
  bottom: 30px;

}

.Contacts p{
  font-size: 20px;
  position: relative;
  bottom: 30px;
}

.sighninH{
  position: relative;
  top: 300px;
  color: #004830;
  text-align: center;
}

.signinBtn{
  width: 100px;
  position: relative;
  left: 350px;

}

.signinBtn:hover{
  background-color: #ACE1AF;
  border: 3px solid #004830;
  color: #004830;

}
.FPassLink{
  position:relative;
  bottom: 60px;
  left: 20px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.FPassLink:hover{
  color: white;
}

.HotelLogo {
  position: relative;
  bottom: 800px;
  left: 100px;
  width: 300px;
}
.HotelLogoSignin {

  position: relative;
  bottom: 670px;
  left: 100px;
  width: 300px;
}
.newAccLink{
    position:relative;
  bottom: 80px;
  left: 160px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}

.newAccLink:hover{
  color: white;
}

.intruction{
  position:relative;
  bottom: 170px;
  left: 30px;
  font-size: medium;
  color: #004830;
  width: fit-content;
}