.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 400px;
  width: 500px;

}
.inputContainer input{
  height: 20px;
   border: none;
  background-color: #ffffff;
  border-bottom: 3px solid #CD7F32;
  font-size: large;
  color: #CD7F32;
}

.signinBtn{
  width: fit-content;
  position: relative;
  left: 350px;

}

.signinBtn:hover{
  background-color: #CD7F32;
  color: #ffffff;

}

.FPassLink{
  position:relative;
  bottom: 60px;
  left: 20px;
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.FPassLink:hover{
  color: #aaaaaa;
}

.HotelLogo {
  position: relative;
  bottom: 800px;
  left: 100px;
  width: 300px;
}