.signup-Content{
    width: 100vw;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 ; 
    align-items: center;
}
body{
    margin: 0;
    height: 100% ;  
  }

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 5% auto;
  padding-bottom: 5%;
  width: 40%;
 

}
.inputContainer input{
  width: 80%;
  margin: 0 auto;
   border: none;
  background-color: #ffffff;
  border-bottom: 3px solid #CD7F32;
  font-size: large;
  color: #CD7F32;
}
.inputContainer input:focus{
    border: none;
    outline: none;
     border-bottom: 3px solid #CD7F32;
  }

.password-Container{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.password-Container input{
    border: none;
    border-bottom: 3px solid #CD7F32;
    background-color: #ffffff;
    font-size: large;
    color: #CD7F32;
    width: 81%;
    margin-left: 5%;
    }
.pass-btn {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #CD7F32;
  color: #CD7F32;
  font-size: large;
  border-radius: 0;
  margin-right: 2.7%;
  height: 26px;
  padding: 0 2.7%;
  
  }

.pass-btn:hover {
  color: #aaaaaa;
  cursor: pointer;
  background-color: transparent;

}
.password-popup{
  position: absolute;
  height:3%;
  width: fit-content;
  background-color: blue;
  color: red;
  z-index: 9999;
  margin-top: 1%;
  margin-left: 10%;
  font-size: small;
   display: flex;
  align-items: center;

}
.password-n-popup-container{
  position: relative;
}

.Regbtn-n-reglink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
}

.Reg-Btn{
  width: fit-content;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  font-size: large;


}

.Reg-Btn:hover{
  background-color: #CD7F32;
  color: #ffffff;
  transform: scale(1.5);

}

.Signin-link{
  font-size: large;
  color: #CD7F32;
  width: fit-content;
}

.Signin-link:hover{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);

}

.Hotel-Logo {
  margin-top: 5%;
  width: 20%;
}


  /*==========mobile styles==========*/
@media (min-width: 320px) and (max-width: 480px) {

  .signup-Content{
    width: 100vw;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 ; 
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
    height: 100% ;  
  }

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 5% auto;
  padding-bottom: 5%;
  width: 80%;
 

}
.inputContainer input{
  width: 80%;
  margin: 0 auto;
   border: none;
  background-color: #ffffff;
  border-bottom: 3px solid #CD7F32;
  font-size: medium;
  color: #CD7F32;
}
.inputContainer input:focus{
    border: none;
    outline: none;
     border-bottom: 3px solid #CD7F32;
  }
  .password-Container{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.password-Container input{
    border: none;
    border-bottom: 3px solid #CD7F32;
    background-color: #ffffff;
    font-size: medium;
    color: #CD7F32;
    width: 76.5%;
    margin-left: 4.5%;

    }

.pass-btn {
  background-color: transparent;
  border: none;
  color: #CD7F32;
  font-size: medium;
  border-bottom: 3px solid #CD7F32;
  
  
}
.password-popup{
  position: absolute;
  height:3%;
  width: fit-content;
  background-color: #ffffff;
  color: red;
  z-index: 9999;
  margin-top: 2%;
  margin-left: 9%;
  font-size: small;
  display: flex;
  align-items: center;

}
.password-n-popup-container{
  position: relative;
}

.Regbtn-n-reglink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
}

.Reg-Btn{
  width: fit-content;
  background-color: #f8f8ff;
  color: #CD7F32;
  box-shadow: 5px 5px 5px 5px #aaaaaa;
  font-size: medium;


}

.Reg-Btn:active{
  background-color: #CD7F32;
  color: #ffffff;
  transform: scale(1.5);

}

.Signin-link{
  font-size: medium;
  color: #CD7F32;
  width: fit-content;
}

.Signin-link:active{
  color: #aaaaaa;
  background-color: transparent;
  transform: scale(1.5);

}

.Hotel-Logo {
  width: 40%;
}

}